<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyRecords</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1>MyRecords</h1>

    <a href="/">Home</a>
    <a href="/allCountries">ALL COUNTRIES</a>
    <a href="/MyRecords">My Records</a>

<div class="card">

    <% record.forEach(val=>{ %>
        <p>Country: <%=val.country%></p>
        <p>Date: <%=val.date%></p>

        <form action="/details/<%=val.id%>" method="get">
        <button type="submit">VIEW DETAILS</button>
        </form>

   <% }) %>
</div>
</body>
</html>